* {
  padding: 0;
  margin: 0;
}

/* --Start of header style-- */

.main {
  width: 100vw;
}

.pre_nav {
  text-align: right;
  margin-right: 10px;
}

.pre_nav ul li {
  list-style: none;
  display: inline-block;
}

/* stylelint-disable */
.pre_nav a {
  text-decoration: none;
  color: #000;
  width: 91px;
  height: 20px;
  margin-left: 10px;
  font-family: 'roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}
/* stylelint-enable */

.base {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-left: 10px;
  margin: 10px;
  height: 10vh;
}

/* stylelint-disable */
h1 {
  font-weight: 800;
  font-size: 50px;
  font-style: normal;
  line-height: 38px;
  width: 317px;
  height: 48px;
  margin-top: -10px;
  margin-left: 26px;
  font-family: 'Montserrat';
}
/* stylelint-enable */

.base-search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 4px;
  margin-left: 0;
  height: 56px;
  width: 625px;
}

/* stylelint-disable */
input {
  width: 380px;
  height: 40px;
  padding-left: 7px;
  color: #969696;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid grey;
  border-radius: 3px 0 0 3px;
}
/* stylelint-enable */

.base-sel {
  border: 1px solid grey;
  border-radius: 0 3px 3px 0;
  height: 38.5px;
  width: 168px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* stylelint-disable */
#sel_1 {
  width: 120px;
  height: 38px;
  padding-left: 3px;
  color: #191919;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  border: none;
}
/* stylelint-enable */

.base-img_1 {
  border-radius: 3px;
  margin-top: 2px;
  height: 35px;
  width: 35px;
  background-color: #6a1c0b;
}

.pic_1 {
  width: 15px;
  height: 17px;
  padding: 10px;
}

.pic_2 {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.dashboard {
  background-color: #000;
  margin-top: -15px;
  color: white;
  height: 70px;
}

.categories {
  text-align: center;
}

/* stylelint-disable */
.categories ul li {
  display: inline-block;
  margin-right: 54px;
  margin-top: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
/* stylelint-enable */

.categories a {
  color: white;
  text-decoration: none;
}

.profile {
  margin-left: 950px;
  height: 60px;
  margin-top: -25px;
}

/* stylelint-disable */
.profile_name {
  margin-right: 75px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 50px;
}
/* stylelint-enable */

.profile_pic {
  float: right;
  margin-right: 80px;
  margin-top: -40px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

/* -- End of header style -- */

.directory a {
  position: relative;
  text-decoration: none;
  color: gray;
  font-size: 10px;
  margin: 10px;
  top: 20px;
  left: 5rem;
}

.sect1 {
  display: flex;
  margin: 7rem 0 0 7vw;
  flex-wrap: wrap;
}

.left-container h3 {
  color: #000;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-left: 1vw;
}

.shoe-part {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vw;
}

.gridA img {
  border-radius: 8px;
  cursor: pointer;
}

#grid1 {
  width: 38vw;
  margin-top: 2vw;
}

#grid2 {
  height: 8rem;
  width: 8rem;
}

#grid3 {
  height: 8rem;
  width: 8rem;
  margin-left: 1.6rem;
}

#grid4 {
  height: 8rem;
  width: 8rem;
  margin-left: 1.6rem;
}

.right-container {
  margin-top: 5.5vw;
  margin-left: 5vw;
}

.shoe-detail {
  display: flex;
}

.shoe-detail h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.shoe-detail span {
  background-color: rgb(202, 241, 194);
  width: 1.9rem;
  height: 1.1rem;
  font-size: 1rem;
  margin-top: 0.5vw;
  margin-left: 0.3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.shoe-detail img {
  width: 7vw;
  margin-left: 10vw;
}

.grid-selection h4 {
  text-decoration: line-through;
  font-size: 1rem;
  color: rgba(155, 155, 155, 1);
}

.grid-selection p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 0.5rem;
}

.gridB {
  display: flex;
  margin-top: 4.8rem;
}

.gridB img {
  border-radius: 8px;
  width: 4.7rem;
  height: 4.7rem;
  margin: 5px;
  cursor: pointer;
}

.select-size p {
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 0.5vw;
}

.select-size button {
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  width: 10.2vw;
  height: 3.5rem;
  margin: 0.5vw;
  margin-top: 0.7rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #fff;
}

.select-width p {
  margin-top: 1rem;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 0.5vw;
}

.select-width button {
  width: 10.2vw;
  height: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5vw;
  border: 1px solid #9b9b9b;
  background-color: #fff;
}

.add-cart button {
  color: white;
  width: 18.6rem;
  height: 3.75rem;
  background-color: rgba(106, 28, 11, 1);
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
/* section two starts here */
.section-2 {
  position: relative;
  height: 100vh;
  top: 50px;
}

.desp-head {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 25px;
}

.desp-head h2 {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 28px;
  font-family: 'Montserrat';
  color: #191919;
}

.pp:hover h2 {
  border-bottom: 2px solid blue;
}

.ppl h2 {
  border-bottom: 2px solid red;
}

.description {
  position: relative;
  padding-left: 150px;
}

.descrip-1 {
  padding-bottom: 20px;
  align-items: center;
  position: relative;
}

.desp-h4 {
  position: absolute;
  font-size: 24px;
  color: #000000;
  font-style: normal;
  line-height: 28px;
  font-weight: 500;
  padding-top: 20px;
  font-family: 'Montserrat';
}

.desp-p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-top: 40px;
  position: absolute;
  font-family: 'Montserrat';
}

.label {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 25px;
  line-height: 28px;
  padding-top: 50px;
  position: relative;
  font-family: 'Montserrat';
}

.label p {
  position: absolute;
}

.label-li {
   padding-left: 20px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   font-family: 'Montserrat';
   position: absolute;
}

.see2 {
  padding-left: 10px;
  padding-top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  position: absolute;
  margin-bottom: 5px;
}

.seee {
  display: flex;
  padding-top: 100px;
  padding-left: 1px;
  position: relative;
}

.simi-img {
  width: 5%;
  min-width: 150px;
  padding: 5px 5px;
  border: .1px solid rgb(128, 128, 128, 0.054);
  border-radius: 8px;
  cursor: pointer;
  margin: 2px;
  position: relative;
  top: 100px;
}

.similar-img img{
  width: 150px;
}

.fa-chevron-left {
  font-size: 20px;
  position: absolute;
  color: rgba(0, 0, 0, 0.472);
  border: 1px solid rgba(128, 128, 128, 0.323);
  border-radius: 50%;
  padding: 5px;
  top: 60px;
  margin-left: -10px;
}

.des-simi {
  text-align: start;
  margin: 5px;
  position: relative;
}

.tdx {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  font-family: 'Inter';
  color: #667085;
}

.img-price img {
  left: 6.5;
  right: 86%;
  top: 72.02%;
  bottom: 22.2%;
  width: 8px;
}

.img-price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 4px;
  margin-top: 3px;
}

.types {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

/* .about h2 {
  position: relative;
  font-size: 19px;
  margin: 25px;
  left: 18rem;
} */

/* .about-text {
  position: relative;
  left: 12rem;
  margin-bottom: 50px;
}

.about-text h1 {
  font-size: 18px;
}

.about-text h2 {
  font-size: 12px;
  margin-bottom: 35px;
}

.about-text h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 13px;
} */

/* .similar-items {
  position: relative;
  left: 5rem;
  margin-bottom: 10rem;
}

.similar-items h2 {
  color: #344054;
  font-size: 21px;
}

.similarItemsGrid {
  position: relative;
  display: flex;
  margin: 10px;
}

.alt img {
  margin: 4px;
  height: 17vh;
  width: 10vw;
  border-radius: 8px;
  background-color: #9b9b9b23;
}

.alt h6 {
  color: #667085;
  font-size: 10px;
}

.alt h4 {
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.alt p {
  color: #98a2b3;
  font-size: 8px;
} */
/* section two ends here */
.brands {
  padding: 10px;
}

.brands img {
  width: 100vw;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: 40vw;
}

.social-icons .fa-facebook,
.fa-square-whatsapp,
.fa-square-instagram,
.fa-youtube {
  width: 50px;
  color: #9b9b9b;
}

.social-icons .fa-cc-visa {
  width: 50px;
  color: #337abb;
}

.social-icons .fa-cc-mastercard {
  width: 50px;
  color: #f69f32;
}

.social-icons .fa-paypal {
  width: 50px;
  color: #3393c0;
}

.social-icons .fa-cc-amex {
  width: 50px;
  color: #3378ba;
}

footer {
  background-color: #545454;
  padding: 20px;
}

.footer-items {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  color: white;
}

.items h4 {
  margin-bottom: 10px;
}

.items p {
  font-size: 15px;
  font-weight: 300;
}

.copyright {
  text-align: center;
  color: white;
  font-size: 10px;
}

@media (max-width: 744px) {
  .sect1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-container h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  #grid2 {
    height: 4rem;
    width: 4rem;
  }

  #grid3 {
    height: 4rem;
    width: 4rem;
  }

  #grid4 {
    height: 4rem;
    width: 4rem;
  }

  #grid1 {
    width: 25vw;
    display: block;
    margin: 0 auto;
  }

  #gridB {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gridB img {
    width: 3rem;
    height: 3rem;
  }

  .select-width button {
    width: 5rem;
    height: 3.75rem;
  }

  .select-size button {
    width: 3.5rem;
    height: 3.75rem;
  }

  .shoe-detail h3 {
    font-size: 0.7rem;
  }

  .shoe-detail span {
    font-size: 0.5rem;
    width: 0.9rem;
    height: 0.55rem;
  }

  .shoe-detail img {
    width: 10vw;
  }

  .add-cart button {
    width: 9.3rem;
    height: 3.75rem;
  }

  .grid-selection h4 {
    font-size: 0.5rem;
  }
}
