* {
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  height: 70px;
  padding: 5px;
  margin: 5px;
}

.links {
  position: relative;
  float: right;
  bottom: 10px;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  margin: 10px;
}

.base {
  position: relative;
  display: flex;
  margin: 20px;
  height: 5px;
  justify-content: space-around;
}

.base-txt h1 {
  position: relative;
  font-size: 35px;
  font-weight: 800;
}

.base-input input {
  position: relative;
  height: 38px;
  width: 35rem;
  padding: 7px;
  border: 0.5px solid black;
}

.base-input input::placeholder {
  font-size: 12px;
  padding: 10px;
}

.base-input button {
  position: relative;
  width: 10rem;
  height: 38px;
  text-align: left;
  padding: 10px;
  background-color: white;
  border: 0.5px solid black;
}

.base-input img {
  position: relative;
  right: 2rem;
  top: 11px;
  height: 30px;
  width: 30px;
}

.base-img img {
  position: relative;
  margin: 20px;
  height: 25px;
  width: 25px;
}

.menu {
  position: relative;
  display: flex;
  background-color: black;
  height: 50px;
  margin-top: 10px;
  align-items: center;
}

.categories {
  background-color: #6a1c0b;
  width: 13rem;
  height: 3rem;
  margin-left: 17px;
}

.categories p {
  position: relative;
  color: white;
  font-size: 20px;
  top: 10px;
  left: 2rem;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: white;
  left: 0.5rem;
  padding: 10px;
  margin-left: 5rem;
  font-size: 15px;
}

.menu h5 {
  position: relative;
  color: white;
  left: 11rem;
  font-size: 15px;
}

.menu img {
  position: relative;
  height: 40px;
  width: 40px;
  left: 12rem;
  border-radius: 30px;
}

.directory a {
  position: relative;
  text-decoration: none;
  color: gray;
  font-size: 10px;
  margin: 10px;
  top: 20px;
  left: 5rem;
}

.sect1 {
  display: flex;
  margin: 7rem 0 0 7vw;
  flex-wrap: wrap;
}

.left-container h3 {
  color: #000;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-left: 1vw;
}

.shoe-part{
  display: flex;
  margin-top: 1vw;
}

.gridA img {
  border-radius: 8px;
  cursor: pointer;
}

#grid1 {
  width: 38vw;
  margin-top: 2vw;
}

#grid2,#grid3,#grid4 {
  height: 8rem;
  width: 8rem;
}

#grid3,#grid4{
  margin-left: 1.6rem;
}

.right-container{
  margin-top: 5.5vw;
  margin-left: 5vw;
}

.shoe-detail{
  display: flex;
}

.shoe-detail h3{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.shoe-detail span{
  background-color: rgb(202, 241, 194);
  width: 1.9rem;
  height: 1.1rem;
  font-size: 1rem;
  margin-top: 0.5vw;
  margin-left: 0.3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.shoe-detail img{
  width: 7vw;
  margin-left: 10vw;
}

.grid-selection h4{
  text-decoration: line-through;
  font-size: 1rem;
  color:rgba(155, 155, 155, 1)
}

.grid-selection p{
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 0.5rem;
}

.gridB {
  display: flex;
  margin-top: 4.8rem;
}

.gridB img {
  border-radius: 8px;
  width: 4.7rem;
  height: 4.7rem;
  margin: 5px;
  cursor: pointer;
}

.select-size p {
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 0.5vw;
}

.select-size button{
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  width: 10.2vw;
  height: 3.5rem;
  margin: 0.5vw;
  margin-top: 0.7rem;
  font-size: 1.5rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  background-color: #fff;
}

.select-width p {
  margin-top: 1rem;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 0.5vw;
}

.select-width button{
  width: 10.2vw;
  height: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5vw;
  border: 1px solid #9b9b9b;
  background-color: #fff;
}

.add-cart button {
  color: white;
  width: 18.6rem;
  height: 3.75rem;
  background-color: rgba(106, 28, 11, 1);
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.sect2 {
  position: relative;
}

.about {
  position: relative;
  display: flex;
}

.about h2 {
  position: relative;
  font-size: 19px;
  margin: 25px;
  left: 18rem;
}

.about-text {
  position: relative;
  left: 12rem;
  margin-bottom: 50px;
}

.about-text h1 {
  font-size: 18px;
}

.about-text h2 {
  font-size: 12px;
  margin-bottom: 35px;
}

.about-text h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 13px;
}

.similar-items {
  position: relative;
  left: 5rem;
  margin-bottom: 10rem;
}

.similar-items h2 {
  color: #344054;
  font-size: 21px;
}

.similarItemsGrid {
  position: relative;
  display: flex;
  margin: 10px;
}

.alt img {
  margin: 4px;
  height: 17vh;
  width: 10vw;
  border-radius: 8px;
  background-color: #9b9b9b23;
}

.alt h6 {
  color: #667085;
  font-size: 10px;
}

.alt h4 {
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.alt p {
  color: #98a2b3;
  font-size: 8px;
}

footer {
  background-color: gray;
}

.newsletter {
  position: relative;
  display: flex;
  margin: 20px;
  padding: 20px;
}

.newsletter-txt h1 {
  position: relative;
  color: white;
  bottom: 16px;
  font-size: 28px;
}

.newsletter-txt img {
  position: relative;
  height: 25px;
  width: 25px;
  margin: 10px;
  top: 20px;
  right: 13px;
}

.newsletter-txt p {
  color: white;
  position: relative;
  left: 3rem;
  bottom: 18px;
}

.newsletter-input {
  position: relative;
  display: flex;
  left: 15rem;
  height: 35px;
}

.newsletter-input input {
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: none;
}

.newsletter-input input::placeholder {
  position: relative;
  font-size: 12px;
  padding: 20px;
  bottom: 3px;
}

.newsletter-input button {
  background-color: #6a1c0b;
  color: white;
  font-size: 10px;
  padding: 10px;
  border: none;
}

.socials h4 {
  position: relative;
  color: white;
  font-size: 23px;
  bottom: 30px;
  left: 12px;
}

.socials p {
  position: relative;
  font-size: 10px;
  bottom: 10px;
  left: 16px;
  color: white;
}

.socials-contact {
  position: relative;
  display: flex;
  margin: 20px;
}

.contact {
  position: relative;
  left: 45rem;
  bottom: 29px;
}

.contact h4 {
  color: white;
  font-size: 18px;
}

.contact h5 {
  color: white;
  font-size: 10px;
  padding: 10px;
}

.contact h6 {
  color: white;
  font-size: 10px;
  padding: 10px;
}

.copyright p {
  position: relative;
  color: white;
  bottom: 50px;
  left: 33rem;
  font-size: 10px;
}

@media (maxwidth:744px) {
  
}