* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100vw;
}

.pre_nav {
  text-align: right;
  margin-right: 10px;
}

.pre_nav ul li {
  list-style: none;
  display: inline-block;
}

.base {
  position: relative;
  display: flex;
  margin: 20px;
  height: 5px;
  justify-content: space-around;
}

.base-txt h1 {
  position: relative;
  font-size: 35px;
  font-weight: 800;
}

.base-input input {
  position: relative;
  height: 38px;
  width: 35rem;
  padding: 7px;
  border: 0.5px solid black;
}

.base-input input::placeholder {
  font-size: 12px;
  padding: 10px;
}

.base-input button {
  position: relative;
  width: 10rem;
  height: 38px;
  text-align: left;
  padding: 10px;
  background-color: white;
  border: 0.5px solid black;
}

.base-input img {
  position: relative;
  right: 2rem;
  top: 11px;
  height: 30px;
  width: 30px;
}

.base-img img {
  position: relative;
  margin: 20px;
  height: 25px;
  width: 25px;
}

.menu {
  position: relative;
  display: flex;
  background-color: black;
  height: 50px;
  margin-top: 10px;
  align-items: center;
}

.categories {
  background-color: #6a1c0b;
  width: 13rem;
  height: 3rem;
  margin-left: 17px;
}

.categories p {
  position: relative;
  color: white;
  font-size: 20px;
  top: 10px;
  left: 2rem;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: white;
  left: 0.5rem;
  padding: 10px;
  margin-left: 5rem;
  font-size: 15px;
}

.menu h5 {
  position: relative;
  color: white;
  left: 11rem;
  font-size: 15px;
}

.menu img {
  position: relative;
  height: 40px;
  width: 40px;
  left: 12rem;
  border-radius: 30px;
}

.directory a {
  position: relative;
  text-decoration: none;
  color: gray;
  font-size: 10px;
  margin: 10px;
  top: 20px;
  left: 5rem;
}

.sect1 {
  position: relative;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.left-container {
  position: relative;
  height: 20px;
  left: 3rem;
}

.left-container h3 {
  color: #000;
  font-style: normal;
  font-size: 25px;
  font-weight: 800;
  margin: 25px;
}

.gridA {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  margin: 5px;
}

.gridA img {
  padding: 2px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

#grid1 {
  grid-column: 1/4;
  grid-row: 1/5;
  height: 50vh;
  width: 30vw;
}

#grid2 {
  grid-column: 1/2;
  grid-row: 5/6;
  height: 10vh;
  width: 8vw;
}

#grid3 {
  grid-column: 2/3;
  grid-row: 5/6;
  height: 10vh;
  width: 8vw;
}

#grid4 {
  grid-column: 3/4;
  grid-row: 5/6;
  height: 10vh;
  width: 8vw;
}

.right-container {
  position: relative;
  margin: 20px;
  padding: 20px;
  left: 3rem;
}

.grid-selection {
  margin: 25px;
  padding: 20px;
}

.grid-selection h3 {
  font-size: 20px;
}

.grid-selection h3 span {
  position: relative;
  font-size: 12px;
  background-color: rgba(0, 128, 0, 0.143);
  color: #1d710f;
  bottom: 2px;
}

.grid-selection h4 {
  text-decoration: line-through;
  font-size: 12px;
  color: gray;
}

.grid-selection p {
  font-size: 10px;
  margin-bottom: 5px;
  margin-bottom: 30px;
}

.grid-selection img {
  position: relative;
  height: 30px;
  width: 50px;
  left: 4rem;
  top: 10px;
}

.gridB {
  position: relative;
  display: flex;
  right: 5rem;
}

.gridB img {
  padding: 2px;
  margin: 5px;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.btn-selection {
  position: relative;
  margin: 25px;
  padding: 20px;
  bottom: 22px;
}

.select-size p {
  font-size: 15px;
}

.select-size button {
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  margin: 2px;
  height: 26px;
  width: 60px;
  margin-bottom: 10px;
}

.select-width p {
  font-size: 15px;
  margin-bottom: 2px;
}

.select-width button {
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  font-size: 10px;
  height: 26px;
  width: 60px;
  margin: 2px;
  margin-bottom: 10px;
}

.add-cart button {
  background-color: #6a1c0b;
  color: white;
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
}

.sect2 {
  position: relative;
}

.about {
  position: relative;
  display: flex;
}

.about h2 {
  position: relative;
  font-size: 19px;
  margin: 25px;
  left: 18rem;
}

.about-text {
  position: relative;
  left: 12rem;
  margin-bottom: 50px;
}

.about-text h1 {
  font-size: 18px;
}

.about-text h2 {
  font-size: 12px;
  margin-bottom: 35px;
}

.about-text h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 13px;
}

.similar-items {
  position: relative;
  left: 5rem;
  margin-bottom: 10rem;
}

.similar-items h2 {
  color: #344054;
  font-size: 21px;
}

.similarItemsGrid {
  position: relative;
  display: flex;
  margin: 10px;
}

.alt img {
  margin: 4px;
  height: 17vh;
  width: 10vw;
  border-radius: 8px;
  background-color: #9b9b9b23;
}

.alt h6 {
  color: #667085;
  font-size: 10px;
}

.alt h4 {
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.alt p {
  color: #98a2b3;
  font-size: 8px;
}

footer {
  background-color: gray;
}

.newsletter {
  position: relative;
  display: flex;
  margin: 20px;
  padding: 20px;
}

.newsletter-txt h1 {
  position: relative;
  color: white;
  bottom: 16px;
  font-size: 28px;
}

.newsletter-txt img {
  position: relative;
  height: 25px;
  width: 25px;
  margin: 10px;
  top: 20px;
  right: 13px;
}

.newsletter-txt p {
  color: white;
  position: relative;
  left: 3rem;
  bottom: 18px;
}

.newsletter-input {
  position: relative;
  display: flex;
  left: 15rem;
  height: 35px;
}

.newsletter-input input {
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: none;
}

.newsletter-input input::placeholder {
  position: relative;
  font-size: 12px;
  padding: 20px;
  bottom: 3px;
}

.newsletter-input button {
  background-color: #6a1c0b;
  color: white;
  font-size: 10px;
  padding: 10px;
  border: none;
}

.socials h4 {
  position: relative;
  color: white;
  font-size: 23px;
  bottom: 30px;
  left: 12px;
}

.socials p {
  position: relative;
  font-size: 10px;
  bottom: 10px;
  left: 16px;
  color: white;
}

.socials-contact {
  position: relative;
  display: flex;
  margin: 20px;
}

.contact {
  position: relative;
  left: 45rem;
  bottom: 29px;
}

.contact h4 {
  color: white;
  font-size: 18px;
}

.contact h5 {
  color: white;
  font-size: 10px;
  padding: 10px;
}

.contact h6 {
  color: white;
  font-size: 10px;
  padding: 10px;
}

.copyright p {
  position: relative;
  color: white;
  bottom: 50px;
  left: 33rem;
  font-size: 10px;
}
